* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 450px;
}

.Thebiggestdiv {
    height: 620px;
    width: 450px;
    border-style: solid;
    margin: auto;
    background-color: white;
    
}

.Div10 {
    height: 60px;
    width: 435px;
    padding-left: 15px;
    display: flex;
    align-items: center; 

}

.Div10 img {
    height: 40px;
    width: 40px;
    float: right;
}

#textdiv10 {
width: 400px;
padding-left: 8px;

}
.fa-brands {
    font-size: 30px;
    
}

.Div20 {
    height: 330px;
    width: 450px;
}

.Div30 {
    height: 195px;
    width: 415px;
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    

}

.Div20 img {
    height: 330px;
    width: 450px;
}

.iconosthree {
font-size: 30px;

}

#Markdiv30 {
    font-size: 30px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    
   
}

.Div303 {
    display: flex;

}



